USE [master]
GO
/****** Object:  Database [GRD]    Script Date: 2018-12-14 21:58:43 ******/
CREATE DATABASE [GRD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GRD', FILENAME = N'F:\GRD_DB\MSSQL14.GRD_DB\MSSQL\DATA\GRD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GRD_log', FILENAME = N'F:\GRD_DB\MSSQL14.GRD_DB\MSSQL\DATA\GRD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GRD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GRD]
GO
/****** Object:  Schema [Debt]    Script Date: 2018-12-14 21:58:43 ******/
CREATE SCHEMA [Debt]
GO
/****** Object:  Schema [Job]    Script Date: 2018-12-14 21:58:43 ******/
CREATE SCHEMA [Job]
GO
/****** Object:  Schema [Player]    Script Date: 2018-12-14 21:58:43 ******/
CREATE SCHEMA [Player]
GO
/****** Object:  Table [Debt].[D_DebtContext]    Script Date: 2018-12-14 21:58:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Debt].[D_DebtContext](
	[id] [int] NOT NULL,
	[description] [nvarchar](120) NOT NULL,
 CONSTRAINT [PK_D_DebtContext] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Debt].[Debt]    Script Date: 2018-12-14 21:58:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Debt].[Debt](
	[id] [uniqueidentifier] NOT NULL,
	[debtorId] [uniqueidentifier] NOT NULL,
	[debtAmount] [money] NOT NULL,
	[debtContextId] [int] NOT NULL,
 CONSTRAINT [PK_Debt] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Job].[DebtCollectionOrder]    Script Date: 2018-12-14 21:58:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Job].[DebtCollectionOrder](
	[id] [uniqueidentifier] NOT NULL,
	[debtId] [uniqueidentifier] NOT NULL,
	[stateId] [int] NULL,
	[stateDescription] [nvarchar](50) NULL,
	[additionalInformation] [nvarchar](120) NULL,
	[clientId] [uniqueidentifier] NOT NULL,
	[assignedPerson] [nvarchar](120) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Player].[Player]    Script Date: 2018-12-14 21:58:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Player].[Player](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](64) NOT NULL,
	[realm] [nvarchar](64) NOT NULL,
	[game] [nvarchar](50) NULL,
 CONSTRAINT [PK_Player] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Debt].[Debt]  WITH CHECK ADD  CONSTRAINT [FK_Debt_D_DebtContext] FOREIGN KEY([debtContextId])
REFERENCES [Debt].[D_DebtContext] ([id])
GO
ALTER TABLE [Debt].[Debt] CHECK CONSTRAINT [FK_Debt_D_DebtContext]
GO
ALTER TABLE [Debt].[Debt]  WITH CHECK ADD  CONSTRAINT [FK_Debt_Player] FOREIGN KEY([debtorId])
REFERENCES [Player].[Player] ([id])
GO
ALTER TABLE [Debt].[Debt] CHECK CONSTRAINT [FK_Debt_Player]
GO
ALTER TABLE [Job].[DebtCollectionOrder]  WITH CHECK ADD  CONSTRAINT [FK_Order_Debt] FOREIGN KEY([debtId])
REFERENCES [Debt].[Debt] ([id])
GO
ALTER TABLE [Job].[DebtCollectionOrder] CHECK CONSTRAINT [FK_Order_Debt]
GO
ALTER TABLE [Job].[DebtCollectionOrder]  WITH CHECK ADD  CONSTRAINT [FK_Order_Player] FOREIGN KEY([clientId])
REFERENCES [Player].[Player] ([id])
GO
ALTER TABLE [Job].[DebtCollectionOrder] CHECK CONSTRAINT [FK_Order_Player]
GO
USE [master]
GO

USE [GRD]
GO

INSERT INTO [Debt].[D_DebtContext]
           ([id]
           ,[description])
     VALUES
           (1
           ,'Niespłacona pożyczka'),
		   (2
           ,'Niewykonana robota')
GO



