<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:8010/GamingDebtCollectorService"
                binding="netTcpBinding"
                contract="GamingRegistryOfDebts.Contract.IGamingDebtCollectorService"
                name="GamingDebtCollectorServiceEndpoint">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
